@media screen and (min-width: 700px) {
  .timeline__nav {
    margin-block-end: var(--section-stack-gap); /* erwin-updating this style rule from margin-block-start to margin-block-end */
  }

  .timeline__nav > button:after {
    inset-block-end: -.5rem;
  }
}

@media screen and (min-width: 700px) {
  .timeline__item {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    height: 575px; /* adding this style rule */
  }

  .timeline__item > * {
    grid-area: unset;
  }

  .timeline__item-content {
    align-self: end;
  }
}

