{%- comment -%} rich-text.liquid | adding style="text-transform: capitalize;" style rule @ line 26. {%- endcomment -%}

<p class="{{ block.settings.heading_tag }}" {{ block.shopify_attributes }} style="text-transform: capitalize;">{{ block.settings.text }}</p>
