{%- comment -%} Footer.liquid  line 164 {%- endcomment -%}

<p class="heading text-subdued text-xxs">Copyright &copy; {{ 'now' | date: '%Y' }} All Rights Reserve @ <b>{{ shop.name | link_to: '/' }}</b></p>
